In [9]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup, Comment
from io import StringIO

In [45]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = "https://www.basketball-reference.com/wnba/teams/NYL/2024/gamelog/"
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, "html.parser")

table = soup.find("table", id="wnba_tgl_basic")

if table is None:
    print("Game log table not found in main HTML.")
else:
    df = pd.read_html(str(table))[0]
    print(df.head())

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk                 G#               Date Unnamed: 3_level_1
0                  1                  1         2024-05-14                  @
1                  2                  2         2024-05-16                  @
2                  3                  3         2024-05-18                NaN
3                  4                  4         2024-05-20                NaN
4                  5                  5         2024-05-23                NaN

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
                 Opp                W/L Unnamed: 6_level_1                 Tm
0                WAS                  W                NaN                 85
1                IND                  W                NaN                102
2                IND                  W                NaN                 91
3                SEA                  W                NaN                 74
4                CHI                  L                NaN                 81

  Unnamed: 8_level_0 Unnamed: 9_level_0  ... Opponent                        \
                 Opp Unnamed: 9_level_1  ...       FT FTA   FT% ORB TRB AST
0                 80                NaN  ...        8  11  .727  10  34  22
1                 66                NaN  ...       17  22  .773   7  26  13
2                 80                NaN  ...        5   6  .833  10  34  22
3                 63                NaN  ...        9  14  .643  12  34  16
4                 90                NaN  ...       13  20  .650  11  38  22


  STL BLK TOV  PF
0   9   7  12  20
1   5   4  13  20
2   9   3  15  16
3   8   3  14  23
4   5   2   9  18

[5 rows x 43 columns]

C:\Users\colte\AppData\Local\Temp\ipykernel_9468\1531705368.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [55]:
# Print each column name on its own line
for col in df.columns:
    print(col)

('Unnamed: 0_level_0', 'Rk')
('Unnamed: 1_level_0', 'G#')
('Unnamed: 2_level_0', 'Date')
('Unnamed: 3_level_0', 'Unnamed: 3_level_1')
('Unnamed: 4_level_0', 'Opp')
('Unnamed: 5_level_0', 'W/L')
('Unnamed: 6_level_0', 'Unnamed: 6_level_1')
('Unnamed: 7_level_0', 'Tm')
('Unnamed: 8_level_0', 'Opp')
('Unnamed: 9_level_0', 'Unnamed: 9_level_1')
('Team', 'FG')
('Team', 'FGA')
('Team', 'FG%')
('Team', '3P')
('Team', '3PA')
('Team', '3P%')
('Team', 'FT')
('Team', 'FTA')
('Team', 'FT%')
('Team', 'ORB')
('Team', 'TRB')
('Team', 'AST')
('Team', 'STL')
('Team', 'BLK')
('Team', 'TOV')
('Team', 'PF')
('Unnamed: 26_level_0', 'Unnamed: 26_level_1')
('Opponent', 'FG')
('Opponent', 'FGA')
('Opponent', 'FG%')
('Opponent', '3P')
('Opponent', '3PA')
('Opponent', '3P%')
('Opponent', 'FT')
('Opponent', 'FTA')
('Opponent', 'FT%')
('Opponent', 'ORB')
('Opponent', 'TRB')
('Opponent', 'AST')
('Opponent', 'STL')
('Opponent', 'BLK')
('Opponent', 'TOV')
('Opponent', 'PF')

In [67]:
# Combine both levels of MultiIndex columns as-is, joined by an underscore
df.columns = [f"{a}_{b}" for a, b in df.columns]

In [69]:
# Print each column name on its own line
for col in df.columns:
    print(col)

Unnamed: 0_level_0_Rk
Unnamed: 1_level_0_G#
Unnamed: 2_level_0_Date
Unnamed: 3_level_0_Unnamed: 3_level_1
Unnamed: 4_level_0_Opp
Unnamed: 5_level_0_W/L
Unnamed: 6_level_0_Unnamed: 6_level_1
Unnamed: 7_level_0_Tm
Unnamed: 8_level_0_Opp
Unnamed: 9_level_0_Unnamed: 9_level_1
Team_FG
Team_FGA
Team_FG%
Team_3P
Team_3PA
Team_3P%
Team_FT
Team_FTA
Team_FT%
Team_ORB
Team_TRB
Team_AST
Team_STL
Team_BLK
Team_TOV
Team_PF
Unnamed: 26_level_0_Unnamed: 26_level_1
Opponent_FG
Opponent_FGA
Opponent_FG%
Opponent_3P
Opponent_3PA
Opponent_3P%
Opponent_FT
Opponent_FTA
Opponent_FT%
Opponent_ORB
Opponent_TRB
Opponent_AST
Opponent_STL
Opponent_BLK
Opponent_TOV
Opponent_PF

In [71]:
# Drop junk columns with meaningless names
df = df.drop(columns=[
    "Unnamed: 3_level_0_Unnamed: 3_level_1",
    "Unnamed: 6_level_0_Unnamed: 6_level_1",
    "Unnamed: 9_level_0_Unnamed: 9_level_1",
    "Unnamed: 26_level_0_Unnamed: 26_level_1"
])

In [73]:
# Rename key columns to clean names
df = df.rename(columns={
    "Unnamed: 0_level_0_Rk": "Rk",
    "Unnamed: 1_level_0_G#": "G#",
    "Unnamed: 2_level_0_Date": "Date",
    "Unnamed: 4_level_0_Opp": "Opp",
    "Unnamed: 5_level_0_W/L": "W/L",
    "Unnamed: 7_level_0_Tm": "Team_Score",
    "Unnamed: 8_level_0_Opp": "Opp_Score"
})

In [75]:
# Print each column name on its own line
for col in df.columns:
    print(col)

Rk
G#
Date
Opp
W/L
Team_Score
Opp_Score
Team_FG
Team_FGA
Team_FG%
Team_3P
Team_3PA
Team_3P%
Team_FT
Team_FTA
Team_FT%
Team_ORB
Team_TRB
Team_AST
Team_STL
Team_BLK
Team_TOV
Team_PF
Opponent_FG
Opponent_FGA
Opponent_FG%
Opponent_3P
Opponent_3PA
Opponent_3P%
Opponent_FT
Opponent_FTA
Opponent_FT%
Opponent_ORB
Opponent_TRB
Opponent_AST
Opponent_STL
Opponent_BLK
Opponent_TOV
Opponent_PF

In [77]:
# Extract WNBA team abbreviations from the gamelog dropdown menu
team_abbrevs = []
dropdown = soup.find("div", {"id": "inner_nav"})
if dropdown:
    for a in dropdown.find_all("a", href=True):
        href = a["href"]
        if "/wnba/teams/" in href and href.endswith("/gamelog/"):
            abbrev = href.split("/")[3]
            if abbrev not in team_abbrevs:
                team_abbrevs.append(abbrev)

print(team_abbrevs)

['NYL']

In [83]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

# List of team codes for 2024 season
teams = ['ATL', 'CHI', 'CON', 'DAL', 'IND', 'LAS', 'MIN', 'NYL', 'PHO', 'SEA', 'WAS', 'LVA']

# Base URL pattern
base_url = "https://www.basketball-reference.com/wnba/teams/{team}/2024/gamelog/"

# Empty list to store data from each team
frames = []

for team in teams:
    url = base_url.format(team=team)
    headers = {"User-Agent": "Mozilla/5.0"}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    table = soup.find("table", id="wnba_tgl_basic")

    if table is not None:
        df_team = pd.read_html(StringIO(str(table)))[0]

        # Combine multi-level headers
        df_team.columns = [f"{a}_{b}" for a, b in df_team.columns]

        # Drop extra unnamed columns
        drop_cols = [
            'Unnamed: 3_level_0_Unnamed: 3_level_1',
            'Unnamed: 6_level_0_Unnamed: 6_level_1',
            'Unnamed: 9_level_0_Unnamed: 9_level_1',
            'Unnamed: 26_level_0_Unnamed: 26_level_1'
        ]
        df_team = df_team.drop(columns=drop_cols, errors='ignore')

        # Rename key columns
        df_team = df_team.rename(columns={
            'Unnamed: 0_level_0_Rk': 'Rk',
            'Unnamed: 1_level_0_G#': 'G#',
            'Unnamed: 2_level_0_Date': 'Date',
            'Unnamed: 4_level_0_Opp': 'Opp',
            'Unnamed: 5_level_0_W/L': 'W/L',
            'Unnamed: 7_level_0_Tm': 'Team_Score',
            'Unnamed: 8_level_0_Opp': 'Opp_Score'
        })

        # Add team identifier as the first column
        df_team.insert(0, "Team", team)

        frames.append(df_team)
    else:
        print(f"No table found for {team}")

# Combine into single DataFrame
df = pd.concat(frames, ignore_index=True)

In [85]:
df.head()

,Team,Rk,G#,Date,Opp,W/L,Team_Score,Opp_Score,Team_FG,Team_FGA,...,Opponent_FT,Opponent_FTA,Opponent_FT%,Opponent_ORB,Opponent_TRB,Opponent_AST,Opponent_STL,Opponent_BLK,Opponent_TOV,Opponent_PF
0,ATL,1,1,2024-05-15,LAS,W,92,81,34,67,...,13,22,.591,8,35,24,8,2,11,17
1,ATL,2,2,2024-05-18,PHO,L,85,88,27,66,...,28,32,.875,7,38,17,10,5,12,22
2,ATL,3,3,2024-05-21,DAL,W,83,78,30,72,...,16,20,.800,11,35,17,6,6,14,20
3,ATL,4,4,2024-05-26,MIN,L,79,92,31,68,...,17,23,.739,5,31,23,7,4,10,17
4,ATL,5,5,2024-05-29,WAS,W,73,67,26,62,...,7,7,1.000,9,31,21,6,3,13,17

In [87]:
print(df["Team"].unique())

['ATL' 'CHI' 'CON' 'DAL' 'IND' 'LAS' 'MIN' 'NYL' 'PHO' 'SEA' 'WAS' 'LVA']

In [89]:
# Save to data folder
df.to_csv(r"C:\Users\colte\LHL-final-project\LHL-final-final-project\data\2024_basketball_reference_gamelog.csv", index=False)